body {
  background-color: #2b1d27;
}

.square {
  width: 30%;
  background: black;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 5%;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
  text-align: center;
}

#message {
  color: black;
}

#menu {
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  background-color: rgb(94, 213, 254);
}
